<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mySite</title>
    <script src="vue-2.6.14/dist/vue.js"></script>
    <style>
        input[type=password]{
            outline-color: red;
        }
        input.success{
            outline-color: green;
            /*border: 2px solid green;*/
        }
        input.fail{
            outline-color: red;
        }
    </style>
</head>
<div id="app">
    <button @click="num--">-</button>
    <input type="text" size="1" v-model="num">
    <button @click="num++">+</button>
    <p>
        <input type="password" :class="pwd_tips" v-model="password">
    </p>
</div>
<script>
    const vm = new Vue({
        el:'#app',
        data(){
            return{
                num: 0,
                password: '',
                pwd_tips: 'fail',
            }
        },
        watch:{
            num(){
                if (this.num < 0){
                    this.num = 0;
                }
            },
            password(){
                if (this.password.length > 6 && this.password.length < 16){
                    this.pwd_tips = 'success';
                }else {
                    this.pwd_tips = 'fail';
                }
            },
        },
    })
</script>
<body>
</body>
</html>